*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

*::selection {
    color: #ffff;
    background-color: #000;
}

html, body{
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#main{
    width: 100%;
    background-color: #fff;
}

#home{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    align-items: center;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav #menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 1.2vw;
}

#menu i {
    margin-top: 4px;
    font-size: 20px;
}

#logo{
    font-size: 2vw;
}

#home #homemain{
    width: 100%;
    padding: 14vw 15vw;
}

#homemain h1{
    font-weight: 400;
    font-size: 1.5vw;
}

.headings{
    display: flex;
    gap: 55px;
}

#homemain .headings h1{
    font-size: 4vw;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    line-height: 1.2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
    transform: translateY(190px);
    transition: transform .5s;
}

#homemain .headings h1:hover {
    color: #000;
}

#homeabout {
    padding: 0vw 15vw;
    margin-bottom: 5vw;
}

#homeabout p {
    width: 55%;
    font-size: 1.2vw;
    font-weight: 600;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 80% cover 20%;
}

#projects{
    padding: 0vw 15vw;
}

#projects .pheadings .personalpro{
    opacity: 0;
}

.pheadings>h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}

.pheadings .stroke{
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#projectimages{
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    /* height: 100vh; */
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.pleftelem{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    flex-direction: row;
    width: 100%;
    height: inherit;
    align-items: center;
    padding: 5vw;
    margin-top: 27vw;
}

.text1{
    width: 50%;
    /* display: flex; */
    position: relative;
    left: -870px;
}

.text1 h1{
    font-size: 2vw;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.text1 h3{
    font-size: 1.3vw;
    font-weight: 400;
}

.text1 h4{
    opacity: .5;
}

.imag1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: inherit;
    /* right: -800px; */
    position: relative;
}

.imag1 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.text2{
    width: 50%;
    /* display: flex; */
    position: relative;
    left: -870px;
}

.text2 h1{
    font-size: 2vw;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.text2 h3{
    font-size: 1.3vw;
    font-weight: 400;
}

.text2 h4{
    opacity: .5;
}

.imag2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: inherit;
    /* right: -800px; */
    position: relative;
}

.imag2 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.text3{
    width: 50%;
    /* display: flex; */
    position: relative;
    left: -870px;
}

.text3 h1{
    font-size: 2vw;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.text3 h3{
    font-size: 1.3vw;
    font-weight: 400;
}

.text3 h4{
    opacity: .5;
}

.imag3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: inherit;
    /* right: -800px; */
    position: relative;
}

.imag3 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.text4{
    width: 50%;
    /* display: flex; */
    position: relative;
    left: -870px;
}

.text4 h1{
    font-size: 2vw;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.text4 h3{
    font-size: 1.3vw;
    font-weight: 400;
}

.text4 h4{
    opacity: .5;
}

.imag4{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: inherit;
    /* right: -800px; */
    position: relative;
}

.imag4 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

@keyframes pulse {
    from, to {
      scale: 1;
    }
    
    50% {
      scale: 1.08;
    }
  }
  
#card {
cursor: pointer;
overflow: hidden;
}

#card a img {  
height: 100%;
width: 100%;
object-fit: cover;
border-radius: inherit;
}

#card:hover a img {
animation: pulse 800ms ease-in-out;
filter: url(#noise);
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media(max-width: 768px) {
#card {
    width: 100%;
}
}
  
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button {
    padding: 1vw 2vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
}

#certificates{
    width: 100%;
    padding: 1vw 15vw;
}

#certificates .commitment{
    position: relative;
    opacity: 0;
}

#certificates h1{
    font-size: 3vw;
    font-weight: 400;
    width: 50%;
    line-height: 1;
}

#certificates p{
    margin-top: 250px;
    width: 55%;
    font-size: 1.2vw;
    font-weight: 600;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 80% cover 20%;
}

#slides {
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}

.slide {
    width: 30%;
}

.slide .img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
}

.slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .tag {
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    margin: 20px 0;
}

.slide h3 {
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
    font-weight: 400;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 80% cover 20%;
}

.slide h3 a{
    color: #000;
    text-decoration: none;
}

.pheadings .hvr{
    padding-top: 190px;
}

.viewall{
    padding-bottom: 5vw;
}

#bottomsection{
    background-color: #000;
    min-height: 100vh;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#bottomsection #bottomimg1{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
}

#bottomsection #bottomimg2{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
}

#bottomsection #bottomimg3{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
}

#bottomsection #bottomimg4{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
}

#bottomsection #bottomimg5{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
}

#list{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50vh 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#list ul {
    display: flex;
    align-items: center;
    gap: 120px;
    list-style-type: none;
}

#list a{
    text-decoration: none;
    color: #fff;
}



@media(max-width: 720px){

    #nav{
        padding: 20px 20px;
    }

    #nav #right {
        gap: 10px;
    }

    #nav a{
        font-size: 10px;
        font-weight: 100;
    }

    #menu i {
        margin-top: 3px;
        font-size: 10px;
    }

    #nav #menu{
        gap: 10px;
    }

    #logo{
        font-size: 3.5vw;
    }

    #home #homemain{
        width: 100%;
        padding: 20vw 15vw;
    }
    #homemain h1{
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    .headings{
        display: flex;
        flex-direction: column;
        gap: 75px;
    }
    #homemain .headings h1{
        font-size: 10vw;
    }
    #homeabout{
        margin-bottom: 0vw;
    }
    #homeabout p {
        width: 90%;
        font-size: 3vw;
    }

    #projects{
        padding: 0vw 15vw;
    }

    #projects .pheadings .personal{
        opacity: 0;
    }

    #projects .pheadings .personalpro{
        opacity: 1;
    }

    #projects .pheadings .hvr {
        position: relative;
        padding-top: 0px;
        top: -15px;
    }
    .pheadings{
        margin-top: 20vw;
    }
    .pheadings>h1{
        line-height: 1;
        font-size: 6vw;
        font-weight: 400;
    }
    
    .pheadings>h1:nth-child(2){
        color: transparent;
        -webkit-text-stroke: 0.5px #000;
    }

    #projectimages{
        justify-content: space-between;
        width: 100%;
        margin-top: 2vw;
        margin-bottom: 5vw;
    }
    
    .pleftelem{
        gap: 15vw;
        flex-direction: column;
    }

    .text1{
        width: 100%;
        left: -800px;
    }
    
    .text1 h1{
        font-size: 3vw;
    }
    
    .text1 h3{
        font-size: 2.5vw;
    }
    
    .text1 h4{
        font-size: 2.5vw;
    }
    
    .text2{
        width: 100%;
        left: -800px;
    }
    
    .text2 h1{
        font-size: 3vw;
    }
    
    .text2 h3{
        font-size: 2.5vw;
    }
    
    .text2 h4{
        font-size: 2.5vw;
    }

    .text3{
        width: 100%;
        left: -800px;
    }
    
    .text3 h1{
        font-size: 3vw;
    }
    
    .text3 h3{
        font-size: 2.5vw;
    }
    
    .text3 h4{
        font-size: 2.5vw;
    }
    .text4{
        width: 100%;
        left: -800px;
    }
    
    .text4 h1{
        font-size: 3vw;
    }
    
    .text4 h3{
        font-size: 2.5vw;
    }
    
    .text4 h4{
        font-size: 2.5vw;
    }
    
    .btndiv button {
        padding: 2vw 3vw;
        border: 1px solid #e6e6e6;
        font-size: 2vw;
    }

    #certificates{
        margin-top: 20vw;
        padding: 10vw 15vw;
    }

    #certificates .commit{
        opacity: 0;
    }

    #certificates .commitment{
        opacity: 1;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 80% cover 20%;
        position: relative;
        top: 25px;
    }
    
    #certificates h1{
        font-size: 6vw;
        width: 90%;
    }
    
    #certificates p{
        margin-top: 0px;
        width: 95%;
        font-size: 2vw;
    }
    
    #slides {
        padding: 3vw 10vw;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 10vw;
    }
    
    .slide {
        width: 100%;
    }
    
    .slide .img {
        height: 140px;
    }
    
    .slide .tag {
        padding: 5px 10px;
        margin: 10px 0;
        font-size: 2vw;
    }
    
    .slide h3 {
        font-size: 3vw;
        padding-left: 2px;
    }

    .bottombtn{
        margin-bottom: 5vw;
    }
    
    .pheadings .hvr{
        padding-top: 190px;
    }
    
    .viewall{
        padding-bottom: 5vw;
    }
    
    #list ul {
        gap: 40px;
        flex-direction: column;
        font-size: 3vw;
    }
    
}